# DB settings
DATABASE_PATH=your_db_path/database.db 

# encoder settings 
ENCODER_KEY=your_encoder_key_here # Can be generated via new_encoder_key.py (example: -w1odpe3QziPvmO8UHNh2-E7vfn5Wbn-dl3fOBuTjNk=)

# handlers settings
NOTE_KEYS=note_id,user_id,note,status # DB cols 
STATUSES_NAME=not started,in progress,completed.......